.wrapper {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.text {
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .container {
    gap: 8px;
  }
}
