.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 312px;
  height: 104px;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 600px;
    height: 200px;
  }
}
